# OS
.DS_Store
Thumbs.db

# Java
*.class
*.log
*.hprof
hs_err_pid*
replay_pid*

# Build outputs (all modules)
target/
**/target/
build/
**/build/
out/
**/out/
bin/
**/bin/

# Maven
.mvn/timing.properties
# keep wrapper files – KHÔNG ignore các file này
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle.lockfile

# Spring Boot logs/tmp
logs/
spring.log
tmp/
*.pid

# Config/Secrets
# application-*.local.properties
# application-*.local.yml
# application-local.properties
# application-local.yml
# .env
# .env.*
# secrets/**

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
