<footer class="footer-shopee">
        <div class="footer-top">
            <div class="section-wrapper">
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6">
                        <h6 class="footer-heading">CHĂM SÓC KHÁCH HÀNG</h6>
                        <ul class="footer-links">
                            <li><a href="#">Trung Tâm Trợ Giúp</a></li>
                            <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                            <li><a href="#">Chính Sách Đổi Trả</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h6 class="footer-heading">VỀ NICESPORT</h6>
                        <ul class="footer-links">
                            <li><a href="#">Giới Thiệu</a></li>
                            <li><a href="#">Tuyển Dụng</a></li>
                            <li><a href="#">Điều Khoản</a></li>
                            <li><a href="#">Chính Sách Bảo Mật</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h6 class="footer-heading">THANH TOÁN</h6>
                        <div class="payment-methods">
                            <img src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8"
                                alt="COD">
                            <img src="https://down-vn.img.susercontent.com/file/a0a9062ebe19b45c1ae0506f16af5c16"
                                alt="Card">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h6 class="footer-heading">THEO DÕI CHÚNG TÔI</h6>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
                            <li><a href="#"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="section-wrapper">
                <div class="text-center">
                    <p class="mb-0">© 2025 NiceSport. Tất cả các quyền được bảo lưu.</p>
                </div>
            </div>
        </div>
    </footer>